@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables */
:root {
    /* Colors */
    --Yellow: hsl(47, 88%, 63%);
    --White: hsl(0, 0%, 100%);
    --Gray500: hsl(0, 0%, 42%);
    --Gray950: hsl(0, 0%, 7%);

    /* Fonts */
    --FontFamily: "Figtree", sans-serif;
    --fontSize: 16px;
    --fontWeight500: 500;
    --fontWeight800: 800;
}

body {
    background-color: var(--Yellow);
    font-family: var(--FontFamily);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--fontSize);
    padding: 1rem;
}

.card {
    max-width: 340px;
    background-color: var(--White);
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 10px 10px hsl(0, 0%, 0%);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.card-image > img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 1rem;
    padding: 1rem;
    overflow: hidden;
}

.card-content {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
}

.card-tag {
    font-size: 16px;
    color: var(--Gray950);
    background-color: var(--Yellow);
    padding: 0.3rem 0.7rem;
    font-weight: var(--fontWeight800);
    border-radius: 5px;
    margin-bottom: 1rem;
     width: fit-content;
    display: inline-block;
}

.card-timestamp {
    font-size: 0.75rem;
    color: var(--Gray950);
    font-weight: var(--fontWeight800);
    margin-bottom: 1rem;
}

.card-title {
    font-size: 1.5rem;
    color: var(--Gray950);
    margin-bottom: 1rem;
}
.card-title:hover{
    color: var(--Yellow);
}
.card-text {
    font-size: 0.875rem;
    color: var(--Gray500);
    line-height: 1.5;
    margin-bottom: 1rem;
}

.card-author-container {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.card-author-container img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 0.8rem;
}

.card-author-container span {
    font-weight: var(--fontWeight800);
    color: var(--Gray950);
}
